USE [QUANLYCAMDO]
GO
/****** Object:  UserDefinedTableType [dbo].[TableTaiSan]    Script Date: 12/05/2026 1:04:33 SA ******/
CREATE TYPE [dbo].[TableTaiSan] AS TABLE(
	[TenTS] [nvarchar](100) NULL,
	[GiaTri] [money] NULL
)
GO
/****** Object:  UserDefinedFunction [dbo].[fn_DuBaoNo]    Script Date: 12/05/2026 1:04:33 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Hàm này thực chất chính là hàm fn_TinhTongNo bạn đã tạo
-- Bạn có thể dùng trực tiếp hàm cũ hoặc tạo hàm mới này để quản lý riêng
CREATE   FUNCTION [dbo].[fn_DuBaoNo] (@MaHD INT, @NgayDuBao DATETIME)
RETURNS MONEY
AS
BEGIN
    -- Sử dụng lại logic tính toán của Event 2
    RETURN dbo.fn_TinhTongNo(@MaHD, @NgayDuBao);
END
GO
/****** Object:  UserDefinedFunction [dbo].[fn_TinhTongNo]    Script Date: 12/05/2026 1:04:33 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   FUNCTION [dbo].[fn_TinhTongNo] (@MaHD INT, @NgayTinh DATETIME)
RETURNS MONEY
AS
BEGIN
    DECLARE @NgayLap DATETIME, @Goc MONEY, @DL1 DATETIME, @TongNoHienTai MONEY = 0;
    DECLARE @LaiSuat FLOAT = 0.005; -- Lãi suất quy định 0.5% mỗi ngày

    -- Lấy thông tin gốc từ hợp đồng
    SELECT @NgayLap = NgayLap, @Goc = SoTienVayGoc, @DL1 = Deadline1 
    FROM HopDong WHERE MaHD = @MaHD;

    -- Kiểm tra nếu chưa có hợp đồng thì thoát
    IF @Goc IS NULL RETURN 0;

    -- 1. Tính tổng nợ phát sinh (Gốc + Lãi) tùy theo mốc thời gian
    IF @NgayTinh <= @DL1
    BEGIN
        -- Tính lãi đơn: Gốc + (Gốc * Lãi Suất * Số Ngày)
        SET @TongNoHienTai = @Goc + (@Goc * @LaiSuat * DATEDIFF(DAY, @NgayLap, @NgayTinh));
    END
    ELSE
    BEGIN
        -- Tính lãi kép: Gốc nhập lãi tại Deadline 1, sau đó tính lũy thừa theo ngày quá hạn
        DECLARE @GocNhapLai MONEY = @Goc + (@Goc * @LaiSuat * DATEDIFF(DAY, @NgayLap, @DL1));
        SET @TongNoHienTai = @GocNhapLai * POWER((1 + @LaiSuat), DATEDIFF(DAY, @DL1, @NgayTinh));
    END

    -- 2. Trừ đi tổng số tiền khách thực tế ĐÃ TRẢ (lấy từ lịch sử GiaoDich)
    DECLARE @DaTra MONEY = ISNULL((SELECT SUM(SoTienThu) FROM GiaoDich WHERE MaHD = @MaHD), 0);

    -- Kết quả trả về là số tiền thực tế khách còn nợ
    RETURN @TongNoHienTai - @DaTra;
END
GO
/****** Object:  Table [dbo].[DM_TrangThaiHD]    Script Date: 12/05/2026 1:04:33 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DM_TrangThaiHD](
	[MaTTHD] [int] NOT NULL,
	[TenTTHD] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaTTHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DM_TrangThaiTS]    Script Date: 12/05/2026 1:04:33 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DM_TrangThaiTS](
	[MaTTTS] [int] NOT NULL,
	[TenTTTS] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaTTTS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GiaoDich]    Script Date: 12/05/2026 1:04:33 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GiaoDich](
	[MaGD] [int] IDENTITY(1,1) NOT NULL,
	[MaHD] [int] NULL,
	[MaNV] [int] NULL,
	[NgayGD] [datetime] NULL,
	[SoTienThu] [money] NULL,
	[TruNoGoc] [money] NULL,
	[TraLai] [money] NULL,
	[LoaiThanhToan] [nvarchar](50) NULL,
	[GhiChu] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaGD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HopDong]    Script Date: 12/05/2026 1:04:33 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HopDong](
	[MaHD] [int] IDENTITY(1,1) NOT NULL,
	[MaKH] [int] NULL,
	[MaNV] [int] NULL,
	[NgayLap] [datetime] NULL,
	[SoTienVayGoc] [money] NULL,
	[Deadline1] [datetime] NULL,
	[Deadline2] [datetime] NULL,
	[MaTTHD] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KhachHang]    Script Date: 12/05/2026 1:04:33 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhachHang](
	[MaKH] [int] IDENTITY(1,1) NOT NULL,
	[HoTen] [nvarchar](100) NULL,
	[CCCD] [varchar](20) NULL,
	[SDT] [varchar](15) NULL,
	[DiaChi] [nvarchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhanVien]    Script Date: 12/05/2026 1:04:33 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhanVien](
	[MaNV] [int] IDENTITY(1,1) NOT NULL,
	[HoTen] [nvarchar](100) NULL,
	[ChucVu] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaNV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TaiSan]    Script Date: 12/05/2026 1:04:33 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaiSan](
	[MaTS] [int] IDENTITY(1,1) NOT NULL,
	[MaHD] [int] NULL,
	[TenTaiSan] [nvarchar](100) NULL,
	[GiaTriDinhGia] [money] NULL,
	[MaTTTS] [int] NULL,
	[IsSold] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaTS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[DM_TrangThaiHD] ([MaTTHD], [TenTTHD]) VALUES (1, N'Đang vay')
INSERT [dbo].[DM_TrangThaiHD] ([MaTTHD], [TenTTHD]) VALUES (2, N'Quá hạn')
INSERT [dbo].[DM_TrangThaiHD] ([MaTTHD], [TenTTHD]) VALUES (3, N'Đã tất toán')
GO
INSERT [dbo].[DM_TrangThaiTS] ([MaTTTS], [TenTTTS]) VALUES (1, N'Đang cầm cố')
INSERT [dbo].[DM_TrangThaiTS] ([MaTTTS], [TenTTTS]) VALUES (2, N'Đã trả khách')
INSERT [dbo].[DM_TrangThaiTS] ([MaTTTS], [TenTTTS]) VALUES (3, N'Sẵn sàng thanh lý')
GO
SET IDENTITY_INSERT [dbo].[GiaoDich] ON 

INSERT [dbo].[GiaoDich] ([MaGD], [MaHD], [MaNV], [NgayGD], [SoTienThu], [TruNoGoc], [TraLai], [LoaiThanhToan], [GhiChu]) VALUES (1, 3, 1, CAST(N'2026-05-12T00:17:57.183' AS DateTime), 5000000.0000, 0.0000, 0.0000, N'Trả góp', N'Khách trả 5 triệu')
SET IDENTITY_INSERT [dbo].[GiaoDich] OFF
GO
SET IDENTITY_INSERT [dbo].[HopDong] ON 

INSERT [dbo].[HopDong] ([MaHD], [MaKH], [MaNV], [NgayLap], [SoTienVayGoc], [Deadline1], [Deadline2], [MaTTHD]) VALUES (1, 1, 1, CAST(N'2026-05-11T23:47:07.120' AS DateTime), 25000000.0000, CAST(N'2026-04-12T00:30:48.400' AS DateTime), CAST(N'2026-07-01T00:00:00.000' AS DateTime), 4)
INSERT [dbo].[HopDong] ([MaHD], [MaKH], [MaNV], [NgayLap], [SoTienVayGoc], [Deadline1], [Deadline2], [MaTTHD]) VALUES (2, 2, 1, CAST(N'2026-05-11T23:47:07.127' AS DateTime), 30000000.0000, CAST(N'2026-04-12T00:30:48.400' AS DateTime), CAST(N'2026-06-20T00:00:00.000' AS DateTime), 1)
INSERT [dbo].[HopDong] ([MaHD], [MaKH], [MaNV], [NgayLap], [SoTienVayGoc], [Deadline1], [Deadline2], [MaTTHD]) VALUES (3, 3, 2, CAST(N'2026-05-11T23:47:07.133' AS DateTime), 10000000.0000, CAST(N'2026-04-12T00:30:48.400' AS DateTime), CAST(N'2026-08-15T00:00:00.000' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[HopDong] OFF
GO
SET IDENTITY_INSERT [dbo].[KhachHang] ON 

INSERT [dbo].[KhachHang] ([MaKH], [HoTen], [CCCD], [SDT], [DiaChi]) VALUES (1, N'Nguyễn Văn An', N'012345678001', N'0901111222', N'Hà Nội')
INSERT [dbo].[KhachHang] ([MaKH], [HoTen], [CCCD], [SDT], [DiaChi]) VALUES (2, N'Lê Thị Bình', N'012345678002', N'0903333444', N'Đà Nẵng')
INSERT [dbo].[KhachHang] ([MaKH], [HoTen], [CCCD], [SDT], [DiaChi]) VALUES (3, N'Phạm Văn Cường', N'012345678003', N'0905555666', N'TP.HCM')
SET IDENTITY_INSERT [dbo].[KhachHang] OFF
GO
SET IDENTITY_INSERT [dbo].[NhanVien] ON 

INSERT [dbo].[NhanVien] ([MaNV], [HoTen], [ChucVu]) VALUES (1, N'Lê Minh Quản Lý', N'Chủ tiệm')
INSERT [dbo].[NhanVien] ([MaNV], [HoTen], [ChucVu]) VALUES (2, N'Trần Thu Ngân', N'Nhân viên')
SET IDENTITY_INSERT [dbo].[NhanVien] OFF
GO
SET IDENTITY_INSERT [dbo].[TaiSan] ON 

INSERT [dbo].[TaiSan] ([MaTS], [MaHD], [TenTaiSan], [GiaTriDinhGia], [MaTTTS], [IsSold]) VALUES (1, 1, N'Xe Yamaha Exciter 155', 42000000.0000, 3, 1)
INSERT [dbo].[TaiSan] ([MaTS], [MaHD], [TenTaiSan], [GiaTriDinhGia], [MaTTTS], [IsSold]) VALUES (2, 2, N'Macbook Air M3', 32000000.0000, 1, 0)
INSERT [dbo].[TaiSan] ([MaTS], [MaHD], [TenTaiSan], [GiaTriDinhGia], [MaTTTS], [IsSold]) VALUES (3, 2, N'iPhone 15 Pro', 26000000.0000, 1, 0)
SET IDENTITY_INSERT [dbo].[TaiSan] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__KhachHan__A955A0AA85795659]    Script Date: 12/05/2026 1:04:33 SA ******/
ALTER TABLE [dbo].[KhachHang] ADD UNIQUE NONCLUSTERED 
(
	[CCCD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[GiaoDich] ADD  DEFAULT (getdate()) FOR [NgayGD]
GO
ALTER TABLE [dbo].[GiaoDich] ADD  DEFAULT ((0)) FOR [TruNoGoc]
GO
ALTER TABLE [dbo].[GiaoDich] ADD  DEFAULT ((0)) FOR [TraLai]
GO
ALTER TABLE [dbo].[HopDong] ADD  DEFAULT (getdate()) FOR [NgayLap]
GO
ALTER TABLE [dbo].[TaiSan] ADD  DEFAULT ((0)) FOR [IsSold]
GO
ALTER TABLE [dbo].[GiaoDich]  WITH CHECK ADD FOREIGN KEY([MaHD])
REFERENCES [dbo].[HopDong] ([MaHD])
GO
ALTER TABLE [dbo].[GiaoDich]  WITH CHECK ADD FOREIGN KEY([MaNV])
REFERENCES [dbo].[NhanVien] ([MaNV])
GO
ALTER TABLE [dbo].[HopDong]  WITH CHECK ADD FOREIGN KEY([MaKH])
REFERENCES [dbo].[KhachHang] ([MaKH])
GO
ALTER TABLE [dbo].[HopDong]  WITH CHECK ADD FOREIGN KEY([MaNV])
REFERENCES [dbo].[NhanVien] ([MaNV])
GO
ALTER TABLE [dbo].[HopDong]  WITH CHECK ADD FOREIGN KEY([MaTTHD])
REFERENCES [dbo].[DM_TrangThaiHD] ([MaTTHD])
GO
ALTER TABLE [dbo].[TaiSan]  WITH CHECK ADD FOREIGN KEY([MaHD])
REFERENCES [dbo].[HopDong] ([MaHD])
GO
ALTER TABLE [dbo].[TaiSan]  WITH CHECK ADD FOREIGN KEY([MaTTTS])
REFERENCES [dbo].[DM_TrangThaiTS] ([MaTTTS])
GO
/****** Object:  StoredProcedure [dbo].[sp_DangKyHopDong]    Script Date: 12/05/2026 1:04:33 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_DangKyHopDong]
    @TenKH NVARCHAR(100),
    @CCCD VARCHAR(20),
    @SDT VARCHAR(15),
    @DiaChi NVARCHAR(200),
    @MaNV INT,
    @SoTienVay MONEY,
    @Deadline1 DATETIME,
    @Deadline2 DATETIME,
    @DanhSachTS TableTaiSan READONLY -- Truyền danh sách nhiều tài sản từ Type đã tạo
AS
BEGIN
    SET NOCOUNT ON;
    DECLARE @MaKH INT;

    -- 1. Kiểm tra khách hàng, nếu chưa có trong bảng KhachHang thì thêm mới [cite: 28]
    IF NOT EXISTS (SELECT 1 FROM KhachHang WHERE CCCD = @CCCD)
    BEGIN
        INSERT INTO KhachHang (HoTen, CCCD, SDT, DiaChi)
        VALUES (@TenKH, @CCCD, @SDT, @DiaChi);
    END
    SELECT @MaKH = MaKH FROM KhachHang WHERE CCCD = @CCCD;

    -- 2. Tạo Hợp đồng mới (Mặc định MaTTHD = 1: Đang vay) 
    INSERT INTO HopDong (MaKH, MaNV, NgayLap, SoTienVayGoc, Deadline1, Deadline2, MaTTHD)
    VALUES (@MaKH, @MaNV, GETDATE(), @SoTienVay, @Deadline1, @Deadline2, 1);

    DECLARE @MaHD INT = SCOPE_IDENTITY();

    -- 3. Lưu danh sách tài sản (Mặc định MaTTTS = 1: Đang cầm cố) [cite: 28, 49]
    INSERT INTO TaiSan (MaHD, TenTaiSan, GiaTriDinhGia, MaTTTS, IsSold)
    SELECT @MaHD, TenTS, GiaTri, 1, 0 FROM @DanhSachTS;

    PRINT N'Đã đăng ký thành công Hợp đồng số: ' + CAST(@MaHD AS VARCHAR);
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GiaHanHopDong]    Script Date: 12/05/2026 1:04:33 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_GiaHanHopDong]
    @MaHD INT,
    @MaNV INT,
    @SoThangGiaHan INT
AS
BEGIN
    SET NOCOUNT ON;
    
    -- 1. Tính số tiền lãi khách ĐANG NỢ đến thời điểm hiện tại
    DECLARE @Goc MONEY, @NgayLap DATETIME;
    SELECT @Goc = SoTienVayGoc, @NgayLap = NgayLap FROM HopDong WHERE MaHD = @MaHD;
    
    DECLARE @TongNoHienTai MONEY = dbo.fn_TinhTongNo(@MaHD, GETDATE());
    DECLARE @TienLaiPhaiTra MONEY = @TongNoHienTai - @Goc;

    IF @TienLaiPhaiTra <= 0
    BEGIN
        PRINT N'Khách hiện không nợ lãi, không cần gia hạn bằng cách này.';
        RETURN;
    END

    BEGIN TRY
        BEGIN TRANSACTION;

        -- 2. Ghi Log: Khách trả tiền lãi để gia hạn
        INSERT INTO GiaoDich (MaHD, MaNV, NgayGD, SoTienThu, LoaiThanhToan, GhiChu)
        VALUES (@MaHD, @MaNV, GETDATE(), @TienLaiPhaiTra, N'Trả lãi gia hạn', 
                N'Gia hạn thêm ' + CAST(@SoThangGiaHan AS VARCHAR) + N' tháng');

        -- 3. Cập nhật Deadline mới (Dời Deadline 1 và 2)
        -- Reset ngày lập về hôm nay để tính lãi đơn lại từ đầu
        UPDATE HopDong
        SET NgayLap = GETDATE(),
            Deadline1 = DATEADD(MONTH, @SoThangGiaHan, GETDATE()),
            Deadline2 = DATEADD(MONTH, @SoThangGiaHan + 1, GETDATE()),
            MaTTHD = 1 -- Đưa về trạng thái Đang vay (nếu đang là Quá hạn)
        WHERE MaHD = @MaHD;

        COMMIT TRANSACTION;
        PRINT N'Gia hạn thành công. Số tiền lãi đã thu: ' + FORMAT(@TienLaiPhaiTra, 'N0');
    END TRY
    BEGIN CATCH
        ROLLBACK TRANSACTION;
        PRINT N'Lỗi: ' + ERROR_MESSAGE();
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[sp_XuLyThanhToan]    Script Date: 12/05/2026 1:04:33 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_XuLyThanhToan]
    @MaHD INT,
    @MaNV INT,
    @SoTienThu MONEY,
    @GhiChu NVARCHAR(MAX)
AS
BEGIN
    SET NOCOUNT ON;
    
    -- Lấy nợ hiện tại (kiểm tra xem hàm fn_TinhTongNo đã tồn tại chưa)
    DECLARE @TongNo MONEY = dbo.fn_TinhTongNo(@MaHD, GETDATE());

    BEGIN TRY
        BEGIN TRANSACTION;
        -- Ghi Log giao dịch
        INSERT INTO GiaoDich (MaHD, MaNV, NgayGD, SoTienThu, LoaiThanhToan, GhiChu)
        VALUES (@MaHD, @MaNV, GETDATE(), @SoTienThu, 
                CASE WHEN @SoTienThu >= @TongNo THEN N'Trả thẳng' ELSE N'Trả góp' END, @GhiChu);

        -- Cập nhật trạng thái
        IF @SoTienThu >= @TongNo
        BEGIN
            UPDATE HopDong SET MaTTHD = 3 WHERE MaHD = @MaHD; 
            UPDATE TaiSan SET MaTTTS = 2 WHERE MaHD = @MaHD; 
        END
        ELSE
        BEGIN
            UPDATE HopDong SET MaTTHD = 1 WHERE MaHD = @MaHD; 
            
            -- Gợi ý trả đồ
            DECLARE @NoConLai MONEY = @TongNo - @SoTienThu;
            DECLARE @TongGiaTriDo MONEY = (SELECT SUM(GiaTriDinhGia) FROM TaiSan WHERE MaHD = @MaHD AND MaTTTS = 1);

            SELECT MaTS, TenTaiSan, GiaTriDinhGia, N'Có thể trả món này' AS GoiY
            FROM TaiSan 
            WHERE MaHD = @MaHD AND MaTTTS = 1
            AND (@TongGiaTriDo - GiaTriDinhGia) >= @NoConLai;
        END
        COMMIT;
        PRINT N'Thực hiện thành công!';
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0 ROLLBACK;
        DECLARE @ErrMsg NVARCHAR(4000) = ERROR_MESSAGE();
        RAISERROR(@ErrMsg, 16, 1);
    END CATCH
END
GO
/****** Object:  Trigger [dbo].[trg_ChuyenNoXau]    Script Date: 12/05/2026 1:04:33 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   TRIGGER [dbo].[trg_ChuyenNoXau]
ON [dbo].[HopDong]
AFTER UPDATE
AS
BEGIN
    SET NOCOUNT ON;
    -- Nếu ngày hiện tại > Deadline1 và đang ở trạng thái 1 (Đang vay)
    -- Thì tự động cập nhật sang trạng thái 2 (Quá hạn)
    UPDATE HopDong
    SET MaTTHD = 2
    FROM HopDong h
    INNER JOIN inserted i ON h.MaHD = i.MaHD
    WHERE i.Deadline1 < GETDATE() AND i.MaTTHD = 1;
END
GO
ALTER TABLE [dbo].[HopDong] ENABLE TRIGGER [trg_ChuyenNoXau]
GO
/****** Object:  Trigger [dbo].[trg_DaBanThanhLy]    Script Date: 12/05/2026 1:04:34 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   TRIGGER [dbo].[trg_DaBanThanhLy]
ON [dbo].[HopDong]
AFTER UPDATE
AS
BEGIN
    SET NOCOUNT ON;
    -- Nếu trạng thái hợp đồng chuyển sang 4 (Đã thanh lý)
    IF EXISTS (SELECT 1 FROM inserted WHERE MaTTHD = 4)
    BEGIN
        UPDATE TaiSan
        SET MaTTTS = 3, -- Vẫn thuộc danh mục thanh lý
            IsSold = 1  -- Đã bán
        WHERE MaHD IN (SELECT MaHD FROM inserted WHERE MaTTHD = 4);
    END
END
GO
ALTER TABLE [dbo].[HopDong] ENABLE TRIGGER [trg_DaBanThanhLy]
GO
/****** Object:  Trigger [dbo].[trg_SanSangThanhLy]    Script Date: 12/05/2026 1:04:34 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   TRIGGER [dbo].[trg_SanSangThanhLy]
ON [dbo].[HopDong]
AFTER UPDATE
AS
BEGIN
    SET NOCOUNT ON;
    -- Kiểm tra nếu hợp đồng quá hạn và vượt Deadline 2
    IF EXISTS (SELECT 1 FROM inserted WHERE MaTTHD = 2 AND Deadline2 < GETDATE())
    BEGIN
        UPDATE TaiSan
        SET MaTTTS = 3 -- 3: Sẵn sàng thanh lý
        WHERE MaHD IN (SELECT MaHD FROM inserted WHERE MaTTHD = 2 AND Deadline2 < GETDATE());
    END
END
GO
ALTER TABLE [dbo].[HopDong] ENABLE TRIGGER [trg_SanSangThanhLy]
GO
